<header class="header__title">
    <h1>Buscador de series de anime</h1>
</header>
<section class="header__body">
    <fieldset>
        <label class="" for="name"></label>
        <input class="js-userInput" type="text" name="name-show" id="name-show" placeholder="Ej: Naruto" maxlength="30">
    </fieldset>
    <div>
        <button class="header__body--searchbtn js-searchBtn" type="submit"><i class="" aria-hidden="true"></i>Buscar</button>
        <button class="header__body--resetbtn js-resetBtn" type="reset"><i class="" aria-hidden="true"></i>Reset</button>
    </div>
</section>