.hidden {
	display: none;
}

.bothcolums {
	display: flex;
}
.results {
	font-family: $font-primary;
	color: $color-font-primary;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	&__title {
		font-size: 16px;
	}
	&__results {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.ulSerie {
	width: 230px;
	height: auto;
}
.secondTitle {
	display: flex;
	align-items: flex-end;
	width: fit-content;
	height: 40px;
}
.favlist {
	width: 150px;
	color: $color-font-primary;
	font-family: $font-primary;
	list-style: none;
	padding: 30px;
	&__title {
		font-size: 16px;
	}
}
.favSelectedColors {
	background-color: rgb(103, 227, 243);
	color: rgb(0, 0, 97);
	border: rgb(255, 251, 22) solid 3px;
}
@media all and (min-width: 768px) {
	.results {
		width: 65%;

		&__title {
			font-size: 18px;
		}
	}
	.favlist {
		width: 35%;
		justify-content: space-evenly;
		&__title {
			font-size: 18px;
		}
	}
}
@media all and (min-width: 1280px) {
	.results {
		width: 70%;
		&__title {
			font-size: 20px;
		}
	}
	.favlist {
		width: 30%;
		&__title {
			font-size: 20px;
		}
	}
}
