.bothcolums {
	display: flex;
  height: 100%;
  margin: 0;
  background-color: black;
}
.results {
	font-family: $font-primary;
	background-color: black;
	color: $color-font-primary;
	width: 60%;
	height: 100%;
  margin: 0;
	border: rgb(255, 0, 179) 3px solid;
	font-family: $font-primary;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	&__title {
		font-size: 16px;
	}
  &__results{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: burlywood 2px solid;
  }
}
.ulSerie{
  height: auto;
  width: auto;
}
.favlist {
	background-color: black;
	color: $color-font-primary;
	width: 40%;
	height: 100%;
  margin: 0;
	border: yellow 3px solid;
	font-family: $font-primary;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	&__title {
		font-size: 16px;
	}
}
@media all and (min-width: 768px) {
	.results {
		width: 65%;

		&__title {
			font-size: 18px;
		}
	}
	.favlist {
		width: 35%;
		justify-content: space-evenly;
		&__title {
			font-size: 18px;
		}
	}
}
@media all and (min-width: 1280px) {
	.results {
		width: 70%;
		&__title {
			font-size: 20px;
		}
	}
	.favlist {
		width: 30%;
		&__title {
			font-size: 20px;
		}
	}
}
