.bothcolums {
	display: flex;
	height: 100%;
	margin: 0;
}
.results {
	font-family: $font-primary;
	color: $color-font-primary;
	width: 60%;
	height: 100%;
	margin: 0;
	font-family: $font-primary;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	&__title {
		font-size: 16px;
	}
	&__results {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.ulSerie {
	height: 370px;
	width: 225px;
	background-repeat: no-repeat;
	background-size: contain;
}
.secondTitle {
	display: flex;
	align-items: flex-end;
	width: fit-content;
	height: 40px;
}
.favlist {
	color: $color-font-primary;
	width: 40%;
	height: 100%;
	margin: 0;
	font-family: $font-primary;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	&__title {
		font-size: 16px;
	}
}
@media all and (min-width: 768px) {
	.results {
		width: 65%;

		&__title {
			font-size: 18px;
		}
	}
	.favlist {
		width: 35%;
		justify-content: space-evenly;
		&__title {
			font-size: 18px;
		}
	}
}
@media all and (min-width: 1280px) {
	.results {
		width: 70%;
		&__title {
			font-size: 20px;
		}
	}
	.favlist {
		width: 30%;
		&__title {
			font-size: 20px;
		}
	}
}
